body{
  margin:0;
  padding: 0;
  background: #E7E5E5;

}
button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}